.div_flex, .nice-select {
    display: flex;
    justify-content: center;
}

.nice-select .list {
    width: 100%;
    max-height: 200px;
}

select#multiselect.form-control {
    width: 100%;
    display: block !important;
}

select#multiselect+.nice-select {
    display: none;
}

.div-funcionamento {
    margin-top: 15px;
}

.div-funcionamento select {
    height: 180px !important;
}

.form-select {
    border-radius: 10px !important;
    height: 50px;
}

.pagination__number a.active {
    color: white;
    background-color: rgb(245, 185, 56) !important;
}

.blog__item__text.admin {
    display: flex;
    justify-content: space-around;
}

.blog__item__text.admin a {
    font-size: 18px;
}

.blog__item__text.admin a.edit:hover, .contato_link a:hover, a:visited {
    color: rgb(65, 65, 238);
}

.contato_link a, .contato_link i {
    font-size: 18px;
    margin-top: 20px;
}

.contato_link i {
    margin-right: 1s5px;
}

.blog__item__text.admin a.delete {
    color: rgb(253, 86, 86);
}

.blog__item__text.admin a.delete:hover {
    color: rgb(255, 35, 35);
}

a#nao-excluir {
    color: white !important;
}

.blog__item__text.ponto_name {
    padding-top: 5px;
    text-align: center;
}

.sem_resultados {
    margin-bottom: 20px;
}

img.imagem-ponto-galeria {
    height: 210px;
}

.delete__form form {
    display: flex;
    justify-content: space-around;
}

.delete__form form a:hover {
    color: white;
}
.delete__form h2 {
    text-align: center;
}

.resultados_pontos {
    justify-content: center;
}

.div_imagem_visualizador {
    display: flex;
    justify-content: center;
}

.div_imagem_visualizador img {
    height: 180px;
    width: 250px;
    padding: 5px;
}

span#user-loged {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #e9ad28;
    line-height: 27px;
    font-weight: 400;
    margin-right: 20px;
}